@import "../valo/valo.scss";

@mixin bbplay-theme {
  @include valo;
  
  .footer {
  	background-color: #D4D4D4;
  	padding: 3px;
  	text-align: center;
  	font-size: 13px;
  }
  
  .diagram {
  	border: 1px solid black;
  	box-shadow: 0px 0px 20px 0px black;
  }

  .v-slot-scrollable-y {
  	overflow-y: auto;
  	overflow-x: hidden;
  }
  
  .v-margin-left {
  	padding-left: 10px;
  }
  
  .v-margin-right {
  	padding-right: 10px;
  }
  
  .v-margin-top {
  	padding-top: 10px;
  }
  
  .v-margin-bottom {
  	padding-bottom: 10px;
  }
  
}